.remember-container {
  position: relative;

  .remember-header {
    background-color: rgb(233, 115, 115);
  }

  .remember-list {
    .remember-item {
      margin-bottom: 0.2rem;
      display: flex;
      justify-content: space-between;
      border-radius: 10px;
      padding: 0.5rem 0.5rem;

      p {
        margin: 0;
      }
    }
  }
}
