.homework-container {
  position: relative;

  .homework-header {
    background-color: aqua;
  }

  .homework-list {

    .homework-item {
      margin-bottom: 0.2rem;
      background-color: #4ED264;
      border-radius: 10px;
      padding: 0.2rem 0.5rem;

      h3 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      p {
        margin: 0;
      }

      &.completed {
        background-color: #9ba19e;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
      }
    }
  }

  #form-select {
    select {
      width: 30%;
    }

    button {
      width: 30%;
    }
  }
}
