.homework-container {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      &::before {
        content: "\270D";
      }

      span {
        padding-right: 0.5rem;
        font-weight: 600;
      }
    }

  }
}
