.homework-container {


  .homework-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: scroll;
    height: 200px;

    .homework-item {
      margin-bottom: 0.2rem;
      background-color: #4ED264;
      border-radius: 10px;
      padding: 0.2rem 0.5rem;

      h3 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      p {
        margin: 0;
      }

      &.completed {
        background-color: #9ba19e;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: line-through;
      }
    }



  }

  #form-select {
    margin: 1rem 0;

    input {
      border-radius: 10px;
      border: 0.5px solid lightblue;
      outline: none;
      width: 90%;
      padding: 0.5rem;
      background-color: ghostwhite;
    }

    select {
      margin: 0.5rem 0.5rem 1rem 0;
      border-radius: 10px;
      border: 0.5px solid lightblue;
      outline: none;
      padding: 0.5rem;
      background-color: ghostwhite;
      width: 40%;
    }

    button {
      border: none;
      border-radius: 10px;
      padding: 0.5rem;
      width: 50%;
      outline: none;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      margin: 0.5rem 0 1rem 0;
    }
  }
}
